<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head th:fragment="date-head">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/css?family=Bitter:400,700|East+Sea+Dokdo&amp;display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>
    <link th:href="@{/css/styles.css}" rel="stylesheet" />

    <link href="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css" rel="stylesheet"/>
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>


    <script src="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>

    <title th:text="${title}">Title</title>
</head>
<body>
<nav th:replace="fragments :: user-navigation"></nav>

<div class="col-sm-10 col-sm-offset-1">
    <h1 >Add Application</h1>
</div>
<div class="col-sm-12">
    <hr />
</div>
<form class="form-horizontal" method="post" th:object="${app}">

    <div th:fragment = "appForm">

    <div class="form-group">
        <label th:for="${name}" class="control-label col-sm-2">Position:</label>
        <div class="col-sm-4">
        <input th:field="*{name}" class="form-control" th:value="${app.name}"/>
        <span th:errors="*{name}" class="error"></span>
        </div>

        <label th:for="${positionRating}" class="control-label col-sm-2">Position Rating:</label>
        <div class="col-sm-2">
                <select th:field="*{positionRating}" th:value="${app.positionRating}" class="form-control">
                    <option th:each="rating : ${ratings}"
                            th:text="${rating}"
                            th:value="${rating}"></option>
                </select>
                <span th:errors="*{positionRating}" class="error"></span>
        </div>
    </div>



    <div class="form-group">
        <label th:for="${company}" class="control-label col-sm-2">Company/School:</label>
        <div class="col-sm-4">
        <input th:field="*{company}" class="form-control" th:value="${app.company}"/>
        <span th:errors="*{company}" class="error"></span>
        </div>

        <label th:for="${companyRating}" class="control-label col-sm-2">Company/School Rating:</label>
        <div class="col-sm-2">
            <select th:field="*{companyRating}" th:value="${app.companyRating}" class="form-control">
                <option th:each="rating : ${ratings}"
                        th:text="${rating}"
                        th:value="${rating}"></option>
            </select>
            <span th:errors="*{companyRating}" class="error"></span>
        </div>
    </div>


        <div class="form-group">
            <label th:for="${date}" class="control-label col-sm-2">Date:</label>
            <div class="col-sm-4">
                <div class="input-group date" id='datetime'>
                <input th:field="*{date}" class="form-control" th:value="${app.date}"/>
                <div class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                </div>
                </div>
                <span th:errors="*{date}" class="error"></span>
            </div>
            <script type="text/javascript">
            $(function () {
                $('#datetime').datetimepicker();
            });
            </script>

        </div>


    <div class="form-group">
        <label th:for="${description}" class="control-label col-sm-2">Description:</label>
        <div class="col-sm-4">
        <input th:field="*{description}" class="form-control" th:value="${app.description}"/>
        <span th:errors="*{description}" class="error"></span>
        </div>
    </div>

    <div class="form-group">
        <label th:for="${location}" class="control-label col-sm-2">Location:</label>
        <div class="col-sm-4">
        <input th:field="*{location}" class="form-control" th:value="${app.location}"
            placeholder="Please use full address for most accurate commute time"/>
        <span th:errors="*{location}" class="error"></span>
        </div>

        <label th:for="${locationRating}" class="control-label col-sm-2">Location Rating:</label>
        <div class="col-sm-2">
            <select th:field="*{locationRating}" th:value="${app.locationRating}" class="form-control">
                <option th:each="rating : ${ratings}"
                        th:text="${rating}"
                        th:value="${rating}"></option>
            </select>
            <span th:errors="*{locationRating}" class="error"></span>
        </div>
    </div>

    <div class="form-group">
        <label th:for="${website}" class="control-label col-sm-2">Website Link:</label>
        <div class="col-sm-4">
        <input th:field="*{website}" class="form-control" th:value="${app.website}"
               placeholder="Please copy and paste full application website here"/>
        <span th:errors="*{website}" class="error"></span>
        </div>
    </div>

    <div class="form-group">
        <label th:for="${notes}" class="control-label col-sm-2">Benefits/Notes:</label>
        <div class="col-sm-4">
        <input th:field="*{notes}" class="form-control" th:value="${app.notes}"/>
        <span th:errors="*{notes}" class="error"></span>
        </div>

        <label th:for="${benefitsRating}" class="control-label col-sm-2">Benefits Rating:</label>
        <div class="col-sm-2">
            <select th:field="*{benefitsRating}" th:value="${app.benefitsRating}" class="form-control">
                <option th:each="rating : ${ratings}"
                        th:text="${rating}"
                        th:value="${rating}"></option>
            </select>
            <span th:errors="*{benefitsRating}" class="error"></span>
        </div>
    </div>

    <div class="form-group">
        <label th:for="${salary}" class="control-label col-sm-2">Salary (Yearly):</label>
        <div class="col-sm-4">
        <select th:field="*{salary}" th:value="${app.salary}" class="form-control" >
        <option th:value="'Not Applicable'">Not Applicable</option>
        <option th:value="'0-20K'">0-20K</option>
        <option th:value="'20K-30K'">20K-30K</option>
        <option th:value="'30K-40K'">30K-40K</option>
        <option th:value="'40K-50K'">40K-50K</option>
        <option th:value="'50K-60K'">50K-60K</option>
        <option th:value="'60K-70K'">60K-70K</option>
        <option th:value="'70K-80K'">70K-80K</option>
        <option th:value="'80K-90K'">80K-90K</option>
        <option th:value="'90K-100K'">90K-100K</option>
        <option th:value="'100K+'">100K+</option>
        </select>
        <span th:errors="*{salary}" class="error"></span>
        </div>

        <label th:for="${salaryRating}" class="control-label col-sm-2">Salary Rating:</label>
        <div class="col-sm-2">
            <select th:field="*{salaryRating}" th:value="${app.salaryRating}" class="form-control">
                <option th:each="rating : ${ratings}"
                        th:text="${rating}"
                        th:value="${rating}"></option>
            </select>
            <span th:errors="*{salaryRating}" class="error"></span>
        </div>
    </div>

    <div class="form-group">
        <label th:for="${phase}" class="control-label col-sm-2">Phase:</label>
        <div class="col-sm-4">
        <select th:field="*{phase}" th:value="${app.phase}" class="form-control">
            <option th:value="'Working on Application'">Working on Application</option>
            <option th:value="'Application Submitted'">Application Submitted</option>
            <option th:value="'Interviewing'">Interviewing</option>
            <option th:value="'Application Rejected'">Application Rejected</option>
            <option th:value="'Other'">Other</option>
        </select>
        <span th:errors="*{phase}" class="error"></span>
        </div>
    </div>
</div>


    <br />

    <div class="col-sm-2 col-sm-offset-2">
    <input type="submit" value="Add Application" class="login-button form-control"/>
    </div>



</form>




</body>
<footer th:replace="fragments :: footer"></footer>

</html>