<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments :: head">
</head>
<body>
<nav th:replace="fragments :: navigation"></nav>

<h1>Add Application Below</h1>
<hr />

<form method="post" th:object="${app}">

    <div>
        <label th:for="${name}">Position</label>
        <input th:field="*{name}" />
        <span th:errors="*{name}" class="error"></span>
    </div>

    <div>
        <label th:for="${company}">Company</label>
        <input th:field="*{company}" />
        <span th:errors="*{company}" class="error"></span>
    </div>

    <div>
        <label th:for="${description}">Description</label>
        <input th:field="*{description}"/>
        <span th:errors="*{description}" class="error"></span>
    </div>

    <div>
        <label th:for="${location}">Location</label>
        <input th:field="*{location}" />
        <span th:errors="*{location}" class="error"></span>
    </div>

    <div>
        <label th:for="${website}">Website Link</label>
        <input th:field="*{website}" />
        <span th:errors="*{website}" class="error"></span>
    </div>

    <div>
        <label th:for="${notes}">Benefits/Notes</label>
        <textarea th:field="*{notes}"></textarea>
        <span th:errors="*{notes}" class="error"></span>
    </div>

<div th:fragment = "salary">
    <div >
        <label th:for="${salary}">Salary (/Year)</label>
        <select th:field="*{salary}" th:value="${app.salary}">
        <option th:value="'Less than 20K'">Less than 20K</option>
        <option th:value="'20K-30K'">20K-30K</option>
        <option th:value="'30K-40K'">30K-40K</option>
        <option th:value="'40K-50K'">40K-50K</option>
        <option th:value="'50K-60K'">50K-60K</option>
        <option th:value="'60K-70K'">60K-70K</option>
        <option th:value="'70K-80K'">70K-80K</option>
        <option th:value="'80K-90K'">80K-90K</option>
        <option th:value="'90K-100K'">90K-100K</option>
        <option th:value="'More than 100K'">More than 100K</option>
        </select>
        <span th:errors="*{salary}" class="error"></span>
    </div>

    <div>
        <label th:for="${phase}">Phase</label>
        <select th:field="*{phase}" th:value="${app.phase}">
            <option th:value="'Working on Application'">Working on Application</option>
            <option th:value="'Application Submitted'">Application Submitted</option>
            <option th:value="'Interviewing'">Interviewing</option>
            <option th:value="'Application Rejected'">Application Rejected</option>
            <option th:value="'Other'">Other</option>
        </select>
        <span th:errors="*{phase}" class="error"></span>
    </div>
</div>


    <br />

    <input type="submit" value="Add Application"/>

</form>



</body>
</html>