<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments :: head">
</head>
<body>

<nav th:replace="fragments :: user-navigation"></nav>


<div class="col-sm-10 col-sm-offset-1">
<h1 >Application Tracker</h1>
</div>
<div class="col-sm-12">
<hr />
</div>


<div class="col-sm-10 col-sm-offset-1" th:unless="${appLists} and ${appLists.size()}">
<p class="error">No applications! Please start by adding an application using the Add App button above.</p>
</div>


<script src="https://www.w3schools.com/lib/w3.js"></script>


<form method="post" class="form-horizontal">
    <div class="col-sm-10 col-sm-offset-1">
<table id="userApps" class="table table-hover"  th:each="applist : ${appLists}">



    <h4 th:unless="${applist.isEmpty()}" th:text="${applist[0].phase}">Table Header</h4>

    <!--TODO: ATTEMPT TO COLOR CODE TABLES BY PHASE?-->

    <thead>
    <tr th:unless="${applist.isEmpty()}">
        <th onclick="w3.sortHTML('#userApps', '.item', 'td:nth-child(1)')" style="cursor:pointer">Position</th>
        <th onclick="w3.sortHTML('#userApps', '.item', 'td:nth-child(2)')" style="cursor:pointer">Company/School</th>
        <th onclick="w3.sortHTML('#userApps', '.item', 'td:nth-child(3)')" style="cursor:pointer">Date</th>
        <th onclick="w3.sortHTML('#userApps', '.item', 'td:nth-child(4)')" style="cursor:pointer">Description</th>
        <th onclick="w3.sortHTML('#userApps', '.item', 'td:nth-child(5)')" style="cursor:pointer">Location</th>
        <th onclick="w3.sortHTML('#userApps', '.item', 'td:nth-child(6)')" style="cursor:pointer">Salary</th>
        <th>Phase</th>
        <th>Benefits/Notes</th>
        <th>Website Link</th>
        <th>Commute Map</th>
        <th>Edit App</th>
        <th>Delete App</th>

    </tr>

    </thead>


    <tbody class="userData">
    <tr th:each="app : ${applist}" class="item" >
        <td th:text="${app.name}" ></td>
        <td th:text="${app.company}"></td>
        <td th:text="${app.date}"></td>
        <td th:text="${app.description}"></td>
        <td th:text="${app.location}"></td>
        <td th:text="${app.salary}"></td>
        <td th:text="${app.phase}"></td>
        <td th:text="${app.notes}"></td>
        <td><a th:href="${app.website}" target="_blank"
               class="glyphicon glyphicon-new-window"></a></td>
        <td><a th:href="@{'/home/commuteTime/' + ${username} + '/' + ${app.appId}}"
                class="glyphicon glyphicon-map-marker"></a></td>
        <td><a th:href="@{'/home/editApp/' + ${username} + '/' + ${app.appId}}"
               class="glyphicon glyphicon-edit"></a></td>
        <!--checkbox if want to delete app-->

        <td><input type="checkbox" name="appIds" th:value="${app.appId}" th:id="${app.appId}"/>
        </td>
    </tr>
    </tbody>
    <br />


</table>
    </div>


<hr />
    <div class="col-sm-8 col-sm-offset-2"
         th:if="${appLists} and ${appLists.size()}">

    <input type="submit" value="Delete Selected App(s)" class="login-button form-control"/>

    </div>
</form>
<br />





</body>
<footer th:replace="fragments :: footer"></footer>
</html>