<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
<nav th:replace="fragments :: navigation"></nav>

<h1>Application Tracker</h1>

<table class="table">

    <tr>
        <th>Name</th>
        <th>Company</th>
        <th>Description</th>
        <th>Location</th>
        <th>Salary</th>

    </tr>

    <tr th:each="app : ${apps}">
        <td th:text="${app.name}"></td>
        <td th:text="${app.company}"></td>
        <td th:text="${app.description}"></td>
        <td th:text="${app.location}"></td>
        <td th:text="${app.salary}"></td>
        <td><a th:href="@{'/home/editApp/' + ${username} + '/' + ${app.appId}}">Edit</a></td>
    </tr>

</table>

<br />
<nav>
    <a th:href="@{'/home/addApp/' + ${username}}">Add Application</a>
</nav>



</body>
</html>