<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
<nav th:replace="fragments :: navigation"></nav>

<h1>Application Tracker</h1>

<form method="post">
<table class="table" th:each="applist : ${appLists}">



    <h4 th:unless="${applist.isEmpty()}" >Table Header</h4> <!--TODO: FIGURE OUT HOW TO ACCESS THE PHASE TITLE-->


    <tr th:unless="${applist.isEmpty()}">
        <th>Position</th>
        <th>Company/School</th>
        <th>Description</th>
        <th>Location</th>
        <th>Salary</th>
        <th>Phase</th>
        <th>Benefits/Notes</th>
        <th>Website Link</th>
        <th>Edit App</th>
        <th>Delete App</th>

    </tr>


    <tr th:each="app : ${applist}">
        <td th:text="${app.name}"></td>
        <td th:text="${app.company}"></td>
        <td th:text="${app.description}"></td>
        <td th:text="${app.location}"></td>
        <td th:text="${app.salary}"></td>
        <td th:text="${app.phase}"></td>
        <td th:text="${app.notes}"></td>
        <td><a th:href="${app.website}" target="_blank">Link</a></td>
        <td><a th:href="@{'/home/editApp/' + ${username} + '/' + ${app.appId}}">Edit</a></td>
        <!--checkbox if want to delete app-->

        <td><input type="checkbox" name="appIds" th:value="${app.appId}" th:id="${app.appId}"/>
        </td>
    </tr>
    <br />
</table>

<br />






<nav>
    <a th:href="@{'/home/addApp/' + ${username}}">Add App</a> |
    <input type="submit" value="Delete Selected App(s)" />
</nav>
</form>





</body>
</html>