.navbar-brand {
                font-family: 'East Sea Dokdo', cursive;
                font-size: 2.5em;
        }

 footer {
    font-family: "East Sea Dokdo", cursive;
    font-size: 1.25em;
 }

.error {font-weight:700;
                color: red;}

th {
    text-align: center;
}

table {
    border-collapse: collapse;
}

thead {
    color:white;
    background-color:black;
}

thead td {
        border: 3px solid white;

}

table, th, td {
  border: 3px solid black;
}


h1 {
font-family: 'Bitter', serif;
}



/*CSS for Landing page */
.landing-page {
    font-size: 1.25em;
}

.login-button {
    color: white;
    background-color: black;
}

.login-button a {
    color:inherit;
}

/*CSS for table sorting */

