<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment = "head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">Title</title>
    <style>

        .error {font-weight:700;
                color: red;}

        table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}
    </style>

</head>
<body>
<nav th:fragment="navigation">
    <a href="/">Home</a> |
    <a href="/login">Login</a> |
    <a href="/register">Register</a>
</nav>

</body>
</html>