<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">

</head>
<body>
<nav th:replace="fragments :: navigation"></nav>

<div class="col-sm-12 ">
<h1 class="text-center">Welcome to Appeaz, your job or school application tracker!</h1>

    <div class="col-sm-12">
        <hr />
    </div>

    <div class="landing-page col-sm-10 col-sm-offset-1">
<p><a href="/register">Register</a> or <a href="/login">Login</a> to organize your job or school search. Appeaz allows
you to keep all of your applications in one, secure place with access to the
actual job application with one click.</p>

<p>Features include:</p>
<ul>
    <li>Store crucial information (benefits, salary, location, etc.) about each application </li>
    <li>Utilize our "Peaz Rating" system to compare applications by various factors</li>
    <li>Easily sort applications to allow for further organization</li>
    <li>Quickly add, delete, or edit applications</li>
    <li>Add your address to determine commute times</li>
    <li>And many more!</li>
</ul>
</div>
</div>

</body>
<br />
<footer th:replace="fragments :: footer"></footer>
</html>